<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlh.he_ma_master.dao.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.zlh.he_ma_master.entity.OrderItem">
            <id property="orderItemId" column="order_item_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="goodId" column="good_id" jdbcType="BIGINT"/>
            <result property="goodName" column="good_name" jdbcType="VARCHAR"/>
            <result property="goodImg" column="good_img" jdbcType="VARCHAR"/>
            <result property="sellingPrice" column="selling_price" jdbcType="DECIMAL"/>
            <result property="goodCount" column="good_count" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_item_id,order_id,good_id,
        good_name,good_img,selling_price,
        good_count,is_deleted,create_time,
        update_time
    </sql>

    <select id="getOrderListByOrderNo" parameterType="string" resultMap="BaseResultMap">
        SELECT good_id, good_count FROM `mall_order` o
        JOIN order_item oi ON oi.order_id = o.order_id
        WHERE order_no = #{orderNo}
    </select>

    <select id="getOrderListByOrderId" parameterType="long" resultMap="BaseResultMap">
        SELECT good_id, good_count FROM `mall_order` o
        JOIN order_item oi ON oi.order_id = o.order_id
        WHERE o.order_id = #{orderId}
    </select>
</mapper>
